@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0.5vw 0;
  padding: 0;
}
.header {
  padding: 0;
}
.header .first {
  display: flex;
  //  height: 100%;
}
.header .first .logo {
  width: 4%;
  height: 4%;
  margin-bottom: 0.5vw;
  margin-left: 1vw;
}
.header .first .search {
  height: 1.8vw;
  display: flex;
  margin-left: 15%;
  padding-top: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.25%;
  border-bottom: 0.1vw solid #000000;
}
.header .first .search_box {
  font-family: "Inter", sans-serif;
  border: none;
  width: 55vw;
  font-size: 1.1vw;
  color: #7c7c7c;
  padding: 0 1vw;
  margin-top: 0.3vw;
}
.header .first input {
  margin-bottom: -1vw;
}
.header .first input:focus {
  outline: none;
  color: #7c7c7c;
}
.header .first .options {
  height: 1.8vw;
  display: flex;
  margin-left: 12%;
}
.header .first .options i {
  margin-right: 1.5vw;
  margin-top: 19%;
}
.header .second {
  background-color: #184e75;
  // height: 100%;
  padding: 1vw 5vw;
  color: #ffffff;
}
.header .second a {
  color: #ffffff;
  text-decoration: None;
  font-size: 0.9vw;
  margin-right: 5vw;
}
.profile {
  padding-left: 4vw;
}
.profile .semi {
  display: flex;
}
.profile .semi .left .instruct {
  background-color: #003854;
  color: #ffffff;
  font-weight: 600;
  padding: 1vw 2vw;
  font-size: 1.1vw;
  border-radius: 0.3vw;
  width: 16.5vw;
  margin-bottom: 2vw;
  margin-top: 1vw;
}
.profile .semi .right .time {
  font-size: 1.4vw;
  text-align: center;
  color: #004e75;
  font-weight: 550;
  margin-top: -2.3vw;
}
.profile .semi .right .bsi {
  margin-top: -0.8vw;
  font-size: 1.4vw;
  text-align: center;
  color: #004e75;
  font-weight: 550;
}
.profile .left {
  width: 50%;
}
.profile .titlecom {
  font-size: 3vw;
  color: #004e75;
  font-weight: 750;
  margin-top: 4vw;
  text-align: center;
}
.profile .left .title {
  color: #000000;
  font-size: 2.5vw;
  font-weight: 550;
  margin-top: 3vw;
  margin-bottom: 1vw;
}
.profile .left .return {
  text-decoration: none;
  color: #4891b6;
  font-size: 1.1vw;
  font-weight: 600;
}
.profile .content {
  margin-top: 2vw;
}
.profile .content .row {
  display: flex;
}
.profile .content .row .each {
  margin-right: 2vw;
  padding: 2vw 1vw;
  border-radius: 0.5vw;
  float: left;
}
.profile .content .row .each .namebsi {
  margin-left: 1.5vw;
  display: flex;
}
.profile .content .row .each .namebsi .name {
  font-size: 2.5vw;
  font-weight: 700;
  margin-left: 1vw;
  margin-top: 0.8vw;
}
.profile .content .row .each .description {
  margin: 0vw 1vw;
  margin-top: -1.8vw;
  width: 25vw;
  font-size: 1.05vw;
  font-weight: 450;
  float: left;
}
