@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0.5vw 0;
  padding: 0;
}

.header {
  padding: 0;
}
.header .first {
  display: flex;
  //height: 100%;
}
.header .first .logo {
  width: 4%;
  height: 4%;
  margin-bottom: 0.5vw;
  margin-left: 1vw;
}
.header .first .search {
  height: 1.8vw;
  display: flex;
  margin-left: 15%;
  padding-top: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.25%;
  border-bottom: 0.1vw solid #000000;
}
.header .first .search_box {
  font-family: "Inter", sans-serif;
  border: none;
  width: 55vw;
  font-size: 1.1vw;
  color: #7c7c7c;
  padding: 0 1vw;
  margin-top: 0.3vw;
}
.header .first input {
  margin-bottom: -1vw;
}
.header .first input:focus {
  outline: none;
  color: #7c7c7c;
}
.header .first .options {
  height: 1.8vw;
  display: flex;
  margin-left: 12%;
}
.header .first .options i {
  margin-right: 1.5vw;
  margin-top: 19%;
}
.header .second {
  background-color: #184e75;
  // height: 100%;
  padding: 1vw 5vw;
  color: #ffffff;
}
.header .second a {
  color: #ffffff;
  text-decoration: None;
  font-size: 0.9vw;
  margin-right: 5vw;
}

.header .first .logo {
  width: 4%;
  height: 4%;
  margin-bottom: 0.5vw;
  margin-left: 1vw;
}
.background {
  position: relative;
}
.background .image {
  width: 100%;
  height: 49.49vw;
}
.background .title {
  position: absolute;
  top: 8vw;
  left: 5vw;
  font-size: 5vw;
  color: #ffffff;
  font-weight: 750;
}
.background .title_s {
  position: absolute;
  top: 14.5vw;
  left: 5vw;
  font-size: 5vw;
  color: #ffffff;
  font-weight: 750;
}
.background .brief {
  position: absolute;
  top: 27vw;
  left: 5vw;
  font-size: 1.3vw;
  color: #ffffff;
  font-weight: 200;
  width: 55vw;
  line-height: 1.6;
}
.content {
  padding: 5vw 5vw;
}
.content .reality .bold {
  color: #000000;
  font-size: 3vw;
  font-weight: 650;
}
.content .reality .others {
  margin-top: -1vw;
  color: #686868;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 2.5;
}
.content .intro .bold {
  color: #000000;
  font-size: 3vw;
  font-weight: 650;
}
.content .intro .others {
  margin-top: -1vw;
  color: #686868;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 2.5;
}
.content .features {
  display: flex;
}
.content .features .feature1 {
  text-align: center;
  width: 50%;
}
.content .features .feature1 .img {
  margin: 0 5vw;
  width: 80%;
  height: 65%;
}
.content .features .feature1 .bold {
  color: #000000;
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 1.6;
}
.content .features .feature1 .others {
  margin: 0.5vw 5vw;
  color: #000000;
  font-size: 1vw;
  font-weight: 300;
  line-height: 2;
}
.content .pages {
  display: flex;
}
.content .pages .img {
  border: 0.5vw solid #004e75;
  width: 49%;
  height: 49%;
}
.content .pages .des {
  position: absolute;
  left: 39vw;
  font-size: 2.5vw;
  top: -1;
  font-weight: 700;
  width: 55vw;
  line-height: 1.6;
  z-index: 1;
  color: #004e75;
}
.footer {
  border-top: 0.1vw solid #c2c2c2;
  padding: 0 5vw;
  display: flex;
}
.footer .logo {
  margin-top: 3%;
  width: 45%;
  height: 45%;
}
.footer .info {
  margin-top: 6.5%;
  margin-left: 20%;
}
.footer .info .info_more {
  font-weight: bold;
  color: #184e75;
  font-size: 1.8vw;
}
.footer .info .email {
  height: 1.8vw;
  display: flex;
  padding-bottom: 0.25%;
  border-bottom: 0.1vw solid #184e75;
}
.footer .info .email_box {
  font-family: "Inter", sans-serif;
  border: none;
  width: 18vw;
  font-size: 1.1vw;
  color: #184e75;
  padding: 0 1vw;
}
.footer .info .email input {
  margin-bottom: -1vw;
}
.footer .info .email input:focus {
  outline: none;
  color: #184e75;
}
.footer .info .social {
  margin: 1vw;
}
