<!DOCTYPE html>
<html lang="en">

<head>
    <title>AI Durst - Intro</title>
    <meta name="description" content="AI Durst">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <!-- Font Inter-->
    <script src="https://kit.fontawesome.com/b20eaf92de.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="header" id="header">
        <section class="first" id="first">
            <img src="/images/logo.png" alt="AI Durst's logo" class="logo">
        </section>
    </section>
    <section class="background" id="background">
        <img src="/images/background.jpg" alt="AI Durst's logo" class="image">
        <p class="title" id="title">AI DURST - VÌ MỘT TƯƠNG LAI </p>
        <br>
        <p class="title_s" id="title_s">CỦA CỘNG ĐỒNG VIỆT NAM </p>
        <p class="brief" id="brief">AI - DURST là một dự án được ứng dụng để chẩn đoán và giám sát bệnh hô hấp bằng việc áp dụng trí tuệ nhân tạo và công nghệ cảm biến từ tính. Dự án đóng vai trò quan trọng trong giải quyết vấn đề sức khỏe ngày càng gia tăng do bệnh về đường hô
            hấp gây ra trên toàn cầu.</p>
    </section>
    <section class="content" id="content">
        <section class="reality" id="reality">
            <p class="bold" id="bold">THỰC TRẠNG HIỆN NAY</p>
            <p class="others" id="others">Bệnh hô hấp mãn tính đã gây ra 3,9 triệu ca tử vong vào năm 2017, tăng 18% so với năm 1990 và là nguyên nhân chính gây ra một số lượng đáng kể năm sống điều chỉnh theo tình trạng khuyết tật (DALY). Đặc biệt, COPD, nguyên nhân gây tử vong hàng
                ba trên toàn cầu, đã gây ra 3,23 triệu ca tử vong vào năm 2019, chủ yếu xảy ra ở các quốc gia có thu nhập trung bình thấp, trong đó có Việt Nam.
                <br> Nhiễm trùng đường hô hấp trên (URI) có tỷ lệ mắc bệnh đáng kinh ngạc trên toàn cầu, với 17,2 tỷ trường hợp được báo cáo vào năm 2019, chiếm gần 43% tổng số trường hợp trong Nghiên cứu gánh nặng bệnh tật toàn cầu năm 2019.
                <br> Hiện nay, mặc dù các phương pháp chẩn đoán truyền thống như đo chức năng phổi bằng spirometry, chụp X-quang, và CT scan có hiệu quả nhưng vẫn còn nhiều hạn chế như khả năng sử dụng hạn chế ở các cơ sở y tế thiếu trang thiết bị, và
                thời gian trả kết quả chậm.</p>
        </section>
        <br><br>
        <hr>
        <!---line-->
        <section class="intro" id="intro">
            <p class="bold" id="bold">GIỚI THIỆU VỀ AI - DURST</p>
            <p class="others" id="others">Dự án AI-DURST ra đời với mục tiêu khắc phục những hạn chế này bằng cách sử dụng công nghệ cảm biến từ tính siêu nhạy tích hợp với AI để cung cấp một hệ thống chẩn đoán và giám sát bệnh hô hấp thời gian thực, có độ chính xác cao và dễ dàng
                triển khai trong các môi trường y tế khác nhau.
                <br> Ý nghĩa của dự án AI-DURST không chỉ dừng lại ở việc cải thiện khả năng chẩn đoán và giám sát bệnh hô hấp. Việc phát hiện sớm và chính xác các trường hợp nhiễm bệnh sẽ giúp ngăn chặn sự lây lan, giảm thiểu gánh nặng cho hệ thống y
                tế và bảo vệ sức khỏe cộng đồng.</p>
        </section>
        <section class="features" id="features">
            <div class="feature1" id="feature1">
                <img src="/images/feature1.png" alt="Feature 1" class="img">
                <p class="bold" id="bold">Cải thiện chất lượng chẩn đoán</p>
                <p class="others" id="others">Với độ nhạy cao của cảm biến từ tính, hệ thống có thể phát hiện các thay đổi nhỏ trong mẫu hô hấp, giúp chẩn đoán các bệnh hô hấp sớm hơn so với các phương pháp truyền thống.</p>
            </div>
            <div class="feature1" id="feature1">
                <img src="/images/feature2.png" alt="Feature 2" class="img" style="width: 55%; height: 65%;">
                <p class="bold" id="bold">Tăng cường hiệu quả giám sát</p>
                <p class="others" id="others">Bằng cách liên tục thu thập và phân tích dữ liệu hô hấp, hệ thống có thể giám sát tình trạng của bệnh nhân theo thời gian thực, phát hiện các dấu hiệu của biến chứng nhằm cảnh báo cho bác sĩ và bệnh nhân.</p>
            </div>
        </section>
        <section class="features" id="features">
            <div class="feature1" id="feature1">
                <img src="/images/feature3.png" alt="Feature 3" class="img">
                <p class="bold" id="bold">Giảm chi phí và tăng cường tiếp cận y tế</p>
                <p class="others" id="others">Các cảm biến từ tính có thể được sản xuất với chi phí thấp hơn so với các thiết bị chẩn đoán truyền thống và có thể sử dụng tại nhà hoặc tại các cơ sở y tế nhỏ, giúp tăng cường tiếp cận y tế cho những người sống ở các vùng xa xôi hoặc
                    có điều kiện kinh tế khó khăn.</p>
            </div>
            <div class="feature1" id="feature1">
                <img src="/images/feature4.png" alt="Feature 4" class="img">
                <p class="bold" id="bold">Tích hợp cảm biến và AI</p>
                <p class="others" id="others">Hệ thống cảm biến từ tính siêu nhạy đã chứng minh được khả năng phát hiện các thay đổi nhỏ nhất trong mẫu hô hấp của bệnh nhân với độ chính xác cao. Điều này là một bước tiến quan trọng so với các phương pháp chẩn đoán truyền thống.</p>
            </div>
        </section>
        <p style="color: #000000; font-size: 3vw; font-weight: 700; margin-top: 10vw">FEATURES</p>
        <section class="pages" id="pages">
            <img src="/images/page1.png" alt="Page 1" class="img">
            <img src="/images/page2.png" alt="Page 2" class="img" style="border-left: none; width: 50%; height: 50%">
            <p class="des" id="des">HỒ SƠ</p>
            <p class="des" id="des" style="left: 52vw;">ĐẶT LỊCH KHÁM</p>
        </section>
        <section class="pages" id="pages">
            <img src="/images/page3.png" alt="Page 3" class="img" style="border-top: none;">
            <img src="/images/page4.png" alt="Page 4" class="img" style="border-top: none;border-left: none; width: 50%; height: 50%">
            <p class="des" id="des2">CHỈ SỐ</p>
            <p class="des" id="des2" style="left: 73vw; color: #ffffff;">CẨM NANG</p>
        </section>
    </section>
</body>
<foooter>
    <section class="footer" id="footer">
        <div class="logo" id="logo">
            <img src="/images/logo.png" alt="AI Durst's logo" class="logo">
            <p style="font-size: 0.9vw; color: #7c7c7c">© AIDURST | Terms of Use | Privacy</p>
        </div>
        <div class="info" id="info">
            <p class="info_more">ĐĂNG KÝ ĐỂ NHẬN <br> THÔNG BÁO SỚM NHẤT </p>
            <div class="email" id="email">
                <form><input id="email_box" class="email_box"></form>
                <i class="fa-solid fa-arrow-right" style="color: #184e75; margin-right: 0.5vw"></i>
            </div>
            <div class="social" id="social">
                <i class="fa-brands fa-square-instagram" style="color: #184e75; margin-right: 0.5vw"></i>
                <i class="fa-brands fa-pinterest" style="color: #184e75; margin-right: 0.5vw"></i>
                <i class="fa-brands fa-twitter" style="color: #184e75; margin-right: 0.5vw"></i>
                <i class="fa-brands fa-facebook" style="color: #184e75; margin-right: 0.5vw"></i>
            </div>
        </div>
    </section>
</foooter>

</html>
