<html lang="en">
  <head>
    <title>AI Durst - Profile Bác sĩ</title>
    <meta name="description" content="AI Durst" />
    <meta name="viewport" content="width=device-width, initial-scale=0" />
    <link rel="stylesheet" type="text/css" href="/css/specbooks.css" />
    <!-- Font Inter-->
    <script
      src="https://kit.fontawesome.com/b20eaf92de.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
  </head>
  <script>
    $(document).ready(function(){ $("#kqtong").hide(); $("#huykham").hide(); });
  </script>
  <body>
    <section class="header" id="header">
      <section class="first" id="first">
        <img src="/images/logo.png" alt="AI Durst's logo" class="logo" />
        <div class="search" id="search">
          <i
            class="fa-solid fa-magnifying-glass fa-sm"
            id="search_icon"
            style="margin-top: 0.95vw; margin-left: 0.5vw"
          ></i>
          <form><input id="search_box" class="search_box" /></form>
        </div>
        <div class="options" id="options">
          <i
            class="fa-regular fa-circle-question fa-lg"
            style="color: #184e75"
          ></i>
          <i class="fa-regular fa-bell fa-lg" style="color: #184e75"></i>
          <i class="fa-regular fa-user fa-lg" style="color: #184e75"></i>
        </div>
      </section>
      <section class="second" id="second">
        <a href="">Đặt lịch</a>
        <a href="">Chỉ số</a>
        <a href="">Cẩm nang</a>
      </section>
    </section>
    <section class="profile" id="profile">
      <div class="semi" id="semi">
        <div class="left" id="left">
          <p class="title" id="title">Hồ sơ bác sĩ</p>
          <a href="/books" class="return" id="return">Quay lại trang trước...</a>
        </div>
        <p class="titlecom" id="titlecom">BỆNH VIỆN Y DƯỢC HCM</p>
      </div>
      <div class="content" id="content">
        <img src="/images/bsiimg.png" alt="AI Durst's logo" class="userimg" />
        <div class="info" id="info">
          <p style="font-size: 1.5vw; font-weight: 450; margin-top: 1.5vw;">Bác
            sĩ</p>
          <p class="name" id="name">{{profiles.name}}</p>
          <p class="id" id="id">Mã Bác sĩ: 81KS67</p>
          <div class="others" id="others">
            <p class="gth" id="gth">{{profiles.description}} </p>
            <!--print kết quả chẩn đoán AI-->
            <div class="tags" id="tags">
              <p class="tag" id="tag" style="color: #FF7979">#bacsicuanam</p>
              <p class="tag" id="tag" style="color: #7986FF">#bacsiuytin</p>
            </div>
            <p class="number" id="number">104 người đã khám bác sĩ này</p>
            <div class="stars" id="stars">
              <i class="fa-solid fa-star fa-lg" style="color: #f3bd00;"></i>
              <i class="fa-solid fa-star fa-lg" style="color: #f3bd00;"></i>
              <i class="fa-solid fa-star fa-lg" style="color: #f3bd00;"></i>
              <i class="fa-solid fa-star fa-lg" style="color: #f3bd00;"></i>
              <i class="fa-regular fa-star fa-lg" style="color: #f3bd00;"></i>
            </div>
          </div>
         <a href = "/datlich"> <button class="dkikham" id="dkikham">ĐĂNG KÝ KHÁM BÁC SĨ</button> </a>
          <!--Hiện khi chưa đăng kí-->
          <button class="kqtong" id="kqtong">XEM KẾT QUẢ KHÁM</button>
          <!--Hiện khi bác sĩ đã khám (sau 1-2 tuần quay trở lại dkikham)-->
          <button class="huykham" id="huykham">HUỶ KHÁM BÁC SĨ</button>
          <!--Hiện khi đăng ký và bác sĩ chưa phản hồi-->
        </div>
      </div>
    </section>
  </body>
</html>
