<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AI Durst - Intro</title>
        <meta name = "description" content = "AI Durst">
        <meta name = "viewport" content = "width=device-width, initial-scale=0">
        <link rel = "stylesheet" type = "text/css" href = "/css/support.css">
        <!-- Font Inter--> 
        <script src="https://kit.fontawesome.com/b20eaf92de.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section class = "header" id = "header">
            <section class = "first" id = "first">
                <img src="/images/logo.png" alt="AI Durst's logo" class = "logo">
                <div class = "search" id = "search">
                    <i class="fa-solid fa-magnifying-glass fa-sm" id = "search_icon" style = "margin-top: 0.95vw; margin-left: 0.5vw"></i>
                    <form><input id = "search_box" class = "search_box"></form>
                </div>
                <div class = "options" id = "options">
                    <i class="fa-regular fa-circle-question fa-lg" style = "color: #184e75"></i>
                    <i class="fa-regular fa-bell fa-lg" style = "color: #184e75"></i>
                    <i class="fa-regular fa-user fa-lg" style = "color: #184e75"></i>
                </div>
            </section>
            <section class="second" id="second">
        <a href="/books">Đặt lịch</a>
        <a href="/calendar">Chỉ số</a>
        <a href="/home">Cẩm nang</a>
      </section> 
        </section>
    </body>
    <!---<foooter>
        <section class = "footer" id = "footer">
            <div class = "logo" id = "logo">
                <img src="logo.png" alt="AI Durst's logo" class = "logo">
                <p style = "font-size: 0.9vw; color: #7c7c7c">© AIDURST | Terms of Use | Privacy</p>
            </div>
            <div class = "info" id = "info">
                <p class = "info_more">ĐĂNG KÝ ĐỂ NHẬN <br> THÔNG BÁO SỚM NHẤT </p>
                <div class = "email" id = "email">
                    <form><input id = "email_box" class = "email_box"></form>
                    <i class="fa-solid fa-arrow-right" style = "color: #184e75; margin-right: 0.5vw"></i>
                </div>
                <div class = "social" id = "social">
                    <i class="fa-brands fa-square-instagram" style = "color: #184e75; margin-right: 0.5vw"></i>
                    <i class="fa-brands fa-pinterest" style = "color: #184e75; margin-right: 0.5vw"></i>
                    <i class="fa-brands fa-twitter" style = "color: #184e75; margin-right: 0.5vw"></i>
                    <i class="fa-brands fa-facebook" style = "color: #184e75; margin-right: 0.5vw"></i>
                </div>
            </div>
        </section>
    </foooter> --->
</html>
<body>
    

    <main>
        <h1>Hồ sơ cá nhân</h1>
        <div class="form-container">
            <div class="form-left">
                <label for="ques">Câu hỏi:</label>
                <input type="text" id="question" name="question">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <label for="phonenum">Số điện thoại:</label>
                <input type="phonenum" id="phonenum" name="phonenum">
                <label for="support">Nếu bạn cần hỗ trợ gấp, vui lòng gọi đến số điện thoại: 0983182346</label>
            </div>
            <div class="form-right">
                <img src="/images/user-avatar.png" alt="User Avatar" class="avatar">
                <p>Mã người dùng: <span id="user-id">123456</span></p>
            </div>
        </div>
        <div class="buttons">
            <button class="save-btn">Save</button>
            <button class="cancel-btn">Cancel</button>
        </div>
    </main>
</body>
</html>
