<html>
  <head>
    <title>AI Durst - Result</title>
    <meta name="description" content="AI Durst" />
    <meta name="viewport" content="width=device-width, initial-scale=0" />
    <!-- Font Inter-->
    <script
      src="https://kit.fontawesome.com/b20eaf92de.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <script
      src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"
    >
    </script>
    <!--READ CALENDARDETAILS.TXT TRC-->
  </head>
  <body>

    {{{body}}}

  </body>
</html>